<!doctype html>
<html lang="en">
<head>
  <meta>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
  <title>New Laughs!</title>
</head>
<body>
  <div class="form-group">
    <form action="/comedians" method="post">
      <h2>Enter a New Comedian:</h2>
      <label for="formGroupExampleInput">Comedian Name:</label>
      <input type="text" class="form-control" id="formGroupExampleInput" name='comedian[name]' placeholder="Comedian Name">
      <label for="formGroupExampleInput2">Comedian Age:</label>
      <input type="integer" class="form-control" id="formGroupExampleInput2" name='comedian[age]' placeholder="Comedian Age">

      <label for="formGroupExampleInput2">Comedian Hometown:</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" name='comedian[city]' placeholder="Comedian Hometown">

    </div>
  </form>
</body>
</html>
