<!doctype html>
<html lang="en">
  <head>
    <meta>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
    <title>New Laughs!</title>
  </head>
  <body>
    <form action="/comedians" method="post">
      <h1>Enter a New Comedian:</h1>
        <ul class="new-comedians">

        <li>Comedian Name: <input type='text' name='comedian[name]'/></li><br/>
        <li>Comedian Age: <input type='integer' name='comedian[age]'/></li><br/>
        <li>Comedian Hometown: <input type='text' name='comedian[city]'/></li><br/>
        <input type='submit' value='Submit'/>
      </ul>
    </form>
  </body>
</html>
