<form action="/comedians" method="post">
  <p>Enter a New Comedian:</p>
  <input type='text' name='comedian[name]'/><br/>
  <input type='integer' name='comedian[age]'/><br/>
  <input type='text' name='comedian[city]'/><br/>
  <input type='submit'/>
</form>
